<app-nav></app-nav>
<p>The Grand Final of the Home Composed Song Contest will be presented here from 21.00 CET / 8pm GMT on Saturday 29 November 2026!</p>
<!--Embedded Full length video here-->
<!--Url https://www.youtube.com/watch?v=aIS__0dHIHQ&t=10s-->

<p>The Home Composed Song Contest 2026 is now nearing its conclusion. All 24 songs have been presented, the competitors and guest juries have submitted their results and the public vote is now closed. The voting show has been prepared and will receive its premiere here on Sarturday evening. The running time is around 90 minutes.

  What is the Home Composed Song Contest?

  23 original songs written by Eurovision fans from across Europe compete in a friendly songwriting competition, where the songs are judged by the competitors themselves, together with guest juries and an element of public voting. First devised in 1991 this is the 34th edition of the competition. After Eurovision, we believe that it is the longest-running pan-European songwriting contest in existence.

  This year we are pleased to have reached a new milestone as we pass the 700th original song to be entered into the competition.

  The contestants and guest juries are now listening to, and appraising the songs, and are casting their votes, Eurovision style, for their favourite. So the eventual winner will have been chosen by their peers. Friends and family of the contestants, as well as fans of the contest, also have a say in the final result, as, together, they form one of the juries awarding from 12 to 1 points for the top ten public favourites.

  The Grand Final will be presented on 29 November, and in the meantime you can listen to all the songs in full, plus find out more about the contestants and read the lyrics on the individual contestant pages.

  Here is a short extract from all 24 competing countries.

  We wish all the contestants the very best of luck!
</p>
<!--Embedded video here -summary vid -->
<!--URL https://www.youtube.com/watch?v=eXCCjYIB2a8-->
<footer>Designed by Harvey Jensen - 2026</footer>
